/* ============================================= */
/*              Variables                      */
/* ============================================= */

// COLORS
$primary-color: #58e1c1;
$secondary-color: #51ddfc;
$success: #63cc82;
$error: #e4757a;
$info: #927bc1;
$warning: #fd7856;

// BREAKPOINTS
$breakpoint: 768px;
